:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #222 !important;
  color: white !important;
  font-family: sans-serif;
}

.boxed {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;

}

.ms_no_wrap {
  flex-wrap: nowrap;
}

.ms_between {
  justify-content: space-between;
}

.ms_v_center {
  align-items: center;
}

.ms_j_center {
  justify-content: center;
}

/* ----------HEADER style---------------------->^.^<----------------------------------------- */
.ms_bg_light {
  background-color: #F8F9FA;
  color: #222222;
}

nav {
  padding: 1.5rem 1rem;
}


nav .link {
  float: left;
  white-space: nowrap;
  margin: 0 2rem;
  color: #222222;
  text-decoration: none;
  font-weight: 600;
}

nav .active {
  color: #802C6E;
  text-decoration: underline;
  text-underline-offset: 2.1rem;
  text-decoration-thickness: 0.5rem;

}

.logo span {
  padding: 0 1rem;
  display: inline-block;
}

.logo img {
  width: 3rem;

}


/* ----------------FOOTER style---------->^.^<-------------------------------------- */

footer {
  background-color: #CED4DA;
  color: #222222;
  padding: 1rem 1rem;

  margin-bottom: 0;
}

/* ----------------CARD style---------->^.^<-------------------------------------- */
.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.full_width {
  width: 100%;
}

.card {

  background-color: #595c5e;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  width: calc((100% - 4rem) / 5);
}

.card h2 {
  width: 100%;
  font-size: larger;
  position: relative;

}

.card h2 .date {
  position: absolute;
  right: 0;
  font-size: medium;
}

.card h2 strong {
  position: absolute;
  left: 0;
  width: 70%;
  white-space: pre-wrap;
}

.card img {
  width: 100%;

  object-fit: contain;
  aspect-ratio: 1/1.5;
  overflow: hidden;
}

.dead {
  color: #800606;
}

.alive {
  color: #82c060;
}

.card .bio {
  height: 4.5rem;
  overflow: scroll;
  border-style: double;
  border-color: #3b3d3f;
}

/* --------------Home style---------------->^.^<-------------------- */
.jumbo {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.marquee h2 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(-300%);
  }
}